<!-- STA JE KLASA CLASS I STA JE OBJEKAT -->

<!-- Class je skup svih metoda i parametara koji se bave slicnim povezanim poslom -->

<!-- primer klase -->
class HomeController{
var layout = [];
var data = null;

function cities(){
//nesto radi
}

}

<!-- instanca na objekat kreiranje objakta od klase -->
var home = new HomeController;

<!-- pozivanje metode iz home objekta -->
home.cities()
----------------------------------------------------------
<div class="note-list">
    <ul id="list">
        <li>
            <p>First note</p>
            <p>
                <i class="fa fa-pencil-square-o"></i>
                <i class="fa fa-times"></i>
            </p>
            <input class="edit-note" type="text">
        </li>
        <li>
            <p>Second note</p>
            <p><i class="fa fa-pencil-square-o"></i><i class="fa fa-times"></i></p>
            <input class="edit-note" type="text">
            <p>Second note</p>
            <p><i class="fa fa-pencil-square-o"></i><i class="fa fa-times"></i></p>
        </li>
        <li>
            <p>Third note</p>
            <p><i class="fa fa-pencil-square-o"></i><i class="fa fa-times"></i></p>
            <input class="edit-note" type="text">
        </li>
    </ul>
</div>
<script>

    // Manipulacija sa DOM-om

    //DOM je selektovan deo dokumenta html gde je selektovan odredjeni node tj. html element gde se izvrsava neka js 
    //funkcionalnost

    //selektuje node sa tim id nazivom
    document.getElementById('nazivId');

    // console.log(typeof 42);

//dva glavna propertija DOM-a su .textContent i .innerHTML

//******************
// .textContent
//******************

// .textContent property setuje ili vraca textualan kontent selektovanog odredjenog noda

// i to vraca (return) po desc redosledu od najveceg ka najmanjem sto se tice slova bilo bi obrnuto

//ukoliko .textcontent primenimo na neki node el svi children el grandchildren el ce bit ili vraceni ispisani ili ce 
//biti zamenjeni sa novim textom

//hvata el
var el = document.getElementById('list');
//ispisuje sve u console
// console.log(el);

var text = el.textContent;
// console.log(text);

//kada hocemo da def novu vrednost texta 
// el.textContent = 'Hello world';
// console.log(el);

/********
innerHTML
*////////

//innerHTML vraca i sve tagove elemente i atribute

var ul = document.getElementById('list');
var html = ul.innerHTML;
// console.log('rezultat innerHTML');
// console.log(html);

html.innerHTML = '<h1>Na ovaj nacin menjammo html strukturu stranice</h1>';
// console.log(html);

/* querySelector()*/

//vraca jedan element
//vraca prvi element koji se poklapa sa selektovanim css tagom, clasom a moze i id-em

var el = document.querySelector('ul');

var el = document.querySelector('.fa-times');
var el = document.querySelector('#list');

var el = document.querySelector('ul li');

var el = document.querySelector('ul li:nth-child(2)');
//frist-child, last-child, p:nth-of-type(2)

el.querySelector('p .fa-times');

document.getElementsByClassName('naziv-klase');
//vraca collection
var icons = document.getElementsByClassName('fa');
console.log(icons);

for(var i = 0; i< icons.length; i++){
    //vraca brojac tj.index
    console.log(i);
    //vraca vrednost elementa u nizu po datom indexu
    console.log(icons[i]);
}

// icons.push('hello');
console.log(typeof icons);

//ECMA5

var iconsArr = Array.from(icons);
console.log(typeof iconsArr);

iconsArr.push('hello');
console.log(iconsArr);

var addInput = document.getElementById('add-input');

// var times, a , b , c = null;


 if (addInput.value !== '') {
     //samo kreiramo el i stavljlamo u var
        var li = document.createElement('li'),
            firstPhar = document.createElement('p'),
            secondPhar = document.createElement('p'),
            fristIcon = document.createElement('i'),
            secondIcon = document.createElement('i'),
            input = document.createElement('input');
/*
            var li = document.createElement('li');
            var firstPhar = document.createElement('p');
            var secondPhar = document.createElement('p');
            var fristIcon = document.createElement('i');
            var secondIcon = document.createElement('i');
            var input = document.createElement('input'); */


//ovde dodajemo klase i nazive istih
        fristIcon.className = "fa fa-pencil-square-o";
        secondIcon.className = "fa fa-times";
        input.className = "edit-note";
//ovde dodajemo atribut type="text" na input polje
        input.setAttribute('type', 'text');

        firstPhar.textContent = addInput.value;


        secondPhar.appendChild(fristIcon);
        secondPhar.appendChild(secondIcon);

        li.appendChild(firstPhar);
        li.appendChild(secondPhar);
        li.appendChild(input);

        ul.appendChild(li);

        addInput.value = '';
    } else {
        console.log(typeof addInput.value);
    }

</script>